/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; 
  height:100%;}
body {
  background-color:#8FA78F ;
  height:100%;
  margin:0;
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Calibri', 'bely-display', sans-serif, 'magnesium-mvb', sans-serif;
  color: #333029;}

  
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; 
  color:#CCC69C;
  }

h1 {  font-size: 4.0rem; 
      line-height: 1;  
      letter-spacing: .4rem; 
      font-family: 'bely-display';
      color:#F2F2BE;
      text-shadow: 2px 2px 0px rgba(51, 48, 41, 0.1);
    }
h2 {  font-size: 3.5rem; 
      line-height: 1.25; 
      font-family: 'bely-display';
      letter-spacing: .2rem;
      border-radius: 15px 50px 30px;
      background: rgba(204, 57, 16, 0.9); /* Green background with 30% opacity */

      padding:1%;
      text-shadow: 2px 2px 0px rgba(51, 48, 41, 0.1)
    }
  h3 {  font-size: 2.0rem; 
    line-height: 1.25; 
    font-family: 'magnesium-mvb';
    letter-spacing: .2rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px rgba(51, 48, 41, 0.1)}
  h4 {  font-size: 1.5rem; 
    line-height: 1.25; 
    font-family: 'magnesium-mvb';
    letter-spacing: .2rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px rgba(51, 48, 41, 0.1)
  }
/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 3.5rem; }
}

p {
  margin-top: 0;
  font-family: 'calibri'; 
  color:#333029;
  font-size: 1.2em;
  text-align:justify;
  }

  /*force upload*/
/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #CCC69C;
  text-decoration: none;
  font-family: 'calibri';}
a:hover {
  color: #CC3910;
  text-decoration: none;
  font-family: 'calibri';
  }

h4:hover {
  color: #CC3910;
}

/* Div styles
----------------------------------------------------*/
.divbody {
  padding-top:2.5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: none;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #F2F2BE; 
  font-family: 'calibri'; 
  color:#333029;
  font-size: 1.2em;}
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

.header {
  padding: 30px;
  overflow: hidden;


}

.imgtransform {
  max-width: 100%;
  height:auto;
}

.center {
display:block;
margin:auto;
}

.centerText {
  text-align: center;
}

.paragraphText {
 text-align: justify;

}

.footer {
font-family: 'calibri';
font-size:1.0rem;
text-align:right;
padding-bottom: .5%;
}


.formatSVG {
  max-width: 70%;
  height:auto;
  padding:2%;

}


.content {
  padding-left: 2%;
  padding-right:2%;
  padding-bottom:2%;
}

/*nav bar*/

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #333029;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #CCC69C;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2.0rem;
  letter-spacing: .2rem;
  font-family: 'magnesium-mvb';
  text-shadow: 1px 1px 0px rgba(204, 198, 156, 0.1);
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #CC3910;
  color: #CCC69C;
  font-family: 'magnesium-mvb';
  text-shadow: 1px 1px 0px rgba(204, 198, 156, 0.1);
}

/* Add a green background color to the active link */
.navbar a.active {
  background-color: #CC3910;
  color: #CCC69C;
  font-family: 'magnesium-mvb';
  text-shadow: 1px 1px 0px rgba(204, 198, 156, 0.1);
}

/* Hide the link that should open and close the navbar on small screens */
.navbar .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the navbar (.icon) */
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the navbar with JavaScript when the user clicks on the icon. This class makes the navbar look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* responsive image grid */ 

.gridRow {
  display: flex;
  flex-wrap: wrap;
  padding:1%;
}

.gridColumn {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.gridColumn img {
  margin-top: 8px;
  vertical-align: middle;
  max-width: 10%;
  height:auto;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .gridColumn {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gridColumn {
    flex: 100%;
    max-width: 100%;
  }
}

.imgResize {
  max-width: 100%;
  height:auto;
  opacity: .5;
}

.imgResize:hover {
  opacity:1.0;
}

.caption {
  font-style: italic;
  font-size: 1.3rem;
  
}

/* parallax */

.parallax {
  /* The image used */
  background-image: url('/images/parallax_demo/img1.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}